version: "3.9"

services:
  postgres:
    image: postgres:16
    container_name: postgres-plano
    restart: ${RESTART_CONTAINER}
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./src/database/sql/basico.sql:/docker-entrypoint-initdb.d/init.sql

volumes:
  postgres_data:
