<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ops Error 500</title>
</head>
<body>
    <h1>Ops Erro interno do servidor, Erro 500</h1>

    <button 
        id="erro404"
        style="padding: 15px;color: white;background-color: rgb(19, 173, 245);border: none;border-radius: 5px;"
    >
        votal para o dashboard
    </button>

    <script type="module">
        import { utils } from './src/utils.js'
        const idError404 = document.getElementById('erro404')
    
        idError404.addEventListener('click', () => {
            idError404.setAttribute('disabled', true)
            idError404.style.opacity = '.5'

            utils.isLoggedIn().checarRefreshToken()
        })
    </script>
</body>
</html>