@mixin border-div() {
    border-radius: 19px;
    background: var(--bg-cards);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, .5);
}

@media (min-width: 801px) {

    // modal
    .modal-overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.4);
        display: grid;
        place-items: center;
        z-index: 1000;
    }

    .modal {
        @include border-div();
        padding: 1rem;
        margin: 1rem;
        text-align: center;
        color: var(--text-color);

        position: relative;

        width: 90%;
        height: 90%;
    }

    .modal img {
        margin: 1rem 0;
        max-width: 100%;
    }

    .s-fechar-modal {
        position: absolute;
        top: -8px;
        left: -8px;

        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: none;

        background-color: var(--body-bg-color);
        color: var(--bg-techs);
    }

    .s-fechar-modal:hover {
        opacity: .8;
    }

    .iframe-modal {
        width: 100%;
        height: 100%;

        border: none;
        border-radius: 8px;
    }


    // fim do modal


    .container {
        max-width: 1120px;
        margin: 0 auto;
        padding: 20px;



        .head {
            width: 100%;
            padding: 20px 40px;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include border-div();

            .user-info {
                display: flex;


                .img {
                    width: 110px;
                    height: 110px;

                    @include border-div();
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                        overflow: hidden;
                        object-fit: fill;
                    }
                }

                .nome-user {
                    max-width: 110px;
                    margin-top: 15px;

                    h1 {
                        width: 100%;
                        font-size: medium;
                        text-align: center;

                        color: var(--bg-techs);
                    }
                }

                .info-rede {


                    .bio {

                        max-width: 520px;
                        margin: 0px 0px 0px 30px;

                        h2 {
                            font-size: medium;

                            color: var(--bg-techs);
                        }

                        p {
                            margin-top: 5px;
                            margin-left: 5px;
                            font-size: clamp(.3em, .3em + 1vw, 1em);
                        }
                    }
                }
            }



            .skills-user {

                margin-top: 0px;
                margin-left: 0px;
                padding: 0px 0px 20px 20px;

                h2 {
                    font-size: medium;

                    color: var(--bg-techs);
                }

                .skill {
                    margin-top: 14px;
                    display: grid;
                    grid-template-columns: 1fr 1fr 1fr;

                    gap: 10px;

                    list-style-type: none;

                    .item-skills {
                        background-color: var(--bg-techs);
                        border-radius: 10px;
                        padding: 10px;

                        p {
                            font-size: clamp(.2em, .3em + 1vw, .6em);
                            text-align: center;
                            color: var(--text-p-skills);

                            font-weight: var(--bold);
                        }
                    }
                }
            }
        }





        // inicio do main
        .content {
            width: 100%;
            height: auto;

            display: flex;

            margin-top: 30px;

            .menu {
                @include border-div();
                width: 300px;
                height: fit-content;

                padding: 30px;
                margin-bottom: 20px;

                .m-ul {

                    list-style: none;

                    height: auto;

                    .m-li {
                        display: flex;
                        margin: 10px 0px;

                        .m-li-contato {
                            display: flex;
                            align-items: center;

                            svg {
                                margin-left: 15px;
                            }
                        }

                        &:hover {
                            .m-li-contato {
                                svg {
                                    fill: var(--bg-techs);
                                }
                            }
                        }

                        .text {
                            font-size: small;
                            padding-left: 15px;
                        }
                    }
                }


                .c-experinecia {
                    overflow-y: auto;
                    height: 300px;
                    // overflow: scroll;
                    scrollbar-color: var(--body-bg-color) var(--bg-cards);
                    scrollbar-width: thin;
                    
                    .experiencia {
                        margin-bottom: 30px;
                    
                        .ex-header {
                            display: flex;
                            gap: 15px;

                            .ex-img {
                                @include border-div();
                                width: 55px;
                                height: 55px;
                            }

                            .ex-info {
                                
                                h1 {
                                    font-size: var(--h3-font-size);
                                    margin-bottom: 1px;
                                }

                                span {
                                    font-size: .65rem;
                                }
                            }
                        }

                        .ex-conteudo {
                            margin-top: 10px;
                            margin-left: 10px;

                            .ex-ul {
                                list-style-type: none;

                                .ex-li {
                                    
                                    h2 {
                                        font-size: var(--normal-font-size);
                                        margin-bottom: 3px;

                                        span {
                                            font-size: var(--smaller-font-size);
                                            font-weight: 100;
                                        }
                                    }

                                    p {
                                        font-size: var(--normal-font-size);

                                        span {
                                            font-size: var(--smaller-font-size);
                                        }
                                    }

                                    .ex-sub-infos {
                                        margin-top: 15px;

                                        h3 {
                                            font-size: var(--normal-font-size);
                                            margin-bottom: 3px;
                                            font-weight: 100;

                                            span {
                                                font-size: var(--smaller-font-size);
                                            }
                                        }

                                        p {
                                            font-size: var(--normal-font-size);
                                            span {
                                                font-size: var(--smaller-font-size);
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }


            // inicio card
            .cards-container {
                width: 100%;
                height: auto;


                .text-github {
                    margin: 0px 0px 20px 20px;
                    @include border-div();
                    padding: 15px 30px;
                    text-align: center;
                    color: var(--bg-techs);
                }

                .card {
                    @include border-div();
                    padding: 30px;
                    margin: 0px 0px 20px 20px;
                    transform-origin: center center;

                    &:hover {
                        will-change: transform;
                        transform: scale(.9);
                        transition: transform 0.6s ease;

                        // background-color: #464658;
                        // color:#75D7EC;
                        color: var(--card-hover-cor);
                        font-weight: var(--bold);
                    }

                    h1 {
                        margin-bottom: 10px;
                        font-size: var(--h1-font-size);
                    }

                    p {
                        margin-bottom: 20px;
                        font-size: var(--normal-font-size);
                    }

                    .tech {
                        margin: 10px 0px;
                    }

                    button {
                        margin-top: 8px;
                        padding: 8px 25px;
                        font-size: var(--small-font-size);
                        font-family: var(--font-family);
                        font-weight: var(--bold);

                        border: none;
                        border-radius: 8px;

                        background-color: var(--body-bg-color);
                        color: var(--bg-techs);
                        box-shadow: 1px 1px 5px rgba(0, 0, 0, .5);
                    }

                    .s-desc {
                        margin: 10px 0px;

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: var(--bg-techs);

                            margin-right: 10px;
                        }
                    }

                    .lang {
                        color: var(--bg-lang);
                        font-size: var(--normal-font-size);

                        &::before {
                            content: "";
                            display: inline-block;
                            width: 10px;
                            height: 10px;
                            border-radius: 50%;
                            background-color: var(--bg-techs);

                            margin-right: 10px;
                        }
                    }
                }
            }

        }

        // inicio do footer
        .footer {
            width: 100%;
            height: auto;

            .icon-rede {
                @include border-div();
                padding: 30px;

                .text-footer {
                    font-size: var(--small-font-size);
                    text-align: center;
                    color: var(--bg-techs);
                }


                .icons {
                    display: flex;
                    justify-content: space-between;

                    max-width: 500px;
                    margin: 0 auto;


                    a {

                        .icon-img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }
}