<section id="cards" class="cards-container">
    <div class="text-github">
        <h1>Projetos</h1>
    </div>

    {% if config.cardInfos | length > 0 %}
        {% for cards in config.cardInfos %}
            <section class="card">
                <h1>{{ cards.title }}</h1>
                <p>{{ cards.description}}</p>
                {% if cards.snapshot | length > 0 %}
                    <img src="{{ cards.snapshot }}" width="100" height="100" alt="{{ cards.title }}">
                {% endif %}
                <div class="tech">
                    <div class="spanWrap">
                        {% if cards.linguagens | length > 0 %}

                            {% for lang in cards.linguagens %}
                                <span class="spanLang">{{ lang }} <b class="numStyle">|</b></span>
                            {% endfor %}
                            
                        {% else %}
                            <p class="sem-linguagens">Sem tecnologias</p>
                        {% endif %}
                    </div>
                </div>

                <div class="card-link-projeto">
                    {% if cards.iframe | length > 0 %}
                        <button class="js-open-modal" data-url="{{ cards.iframe }}">Preview</button>
                    {% endif %}

                    {% if cards.repo | length > 0 %}
                        <a href="{{ cards.repo }}" target="_blank">
                            <button class="js-open-modal">Github</button>
                        </a>
                    {% endif %}

                    {% if cards.demo | length > 0 %}
                        <a href="{{ cards.demo }}" target="_blank">
                            <button class="js-open-modal">Demo</button>
                        </a>
                    {% endif %}
                </div>

                <footer class="card-footer">
                    {% if cards.tipo | length > 0 %}
                        <small class="card-footer-infos">{{ cards.tipo }}</small>
                    {% endif %}

                    {% if cards.status | length > 0 %}
                        <small class="card-footer-infos">{{ cards.status }}</small>
                    {% endif %}

                    {% if cards.data | length > 0 %}
                        <small class="card-footer-infos">{{ cards.data }}</small>
                    {% endif %}
                </footer>
            </section>
        {% endfor %}
    {% else %}
        <section class="card">
            <h1>Adicionar informações para o card em _data config</h1>
        </section>
    {% endif %}

</section>