<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <style> 
    :root {
      --body-bg-color: #22212C;
      --bg-techs: #75D7EC;
    }
    #loading {
      width: 100%;
      height: 100vh;
      background-color: {{ config.cores.loadingBgColor or "var(--body-bg-color)" }};

      display: grid;
      place-items: center;

      position: fixed;
      inset: 0;
      z-index: 9999;

      transition: opacity 0.3s ease;
    }
    #loading.hide {
      opacity: 0;
      pointer-events: none;
    }
    #loading #spinner {
      width: 50px;
      height: 50px;
      border-radius: 50%;

      border: 3px solid {{ config.cores.spinnerCor or "var(--bg-techs)" }};
      border-top: 1px solid transparent;

      animation: spinner 1s linear infinite;
    }
    @keyframes spinner {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg)
      }
    }
  </style>
  
  <script>
    function loadingSpinner() {
      const loading = document.getElementById('loading');
      const app = document.getElementById('app');

      loading.classList.add('hide');

      setTimeout(() => {
        loading.remove();
        app.removeAttribute('style');
      }, 300);
     } 

    window.addEventListener('load', loadingSpinner);
  </script>

  <link rel="icon" type="image/svg+xml" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="/css/style.css" onload="this.onload=null;this.rel='stylesheet'">
  <noscript><link rel="stylesheet" href="/css/style.css"></noscript>
 
  {% if config.seoDescription %}
    <meta name="description" content="{{ config.seoDescription }}">
  {% endif %}

  {% if config.seoAuthor %}
    <meta name="author" content="{{ config.seoAuthor }}">
  {% endif %}

  {% if config.seoTitle or config.seoDescription %}
    <meta property="og:title" content="{{ config.seoTitle or config.seoAuthor or '' }}">
    <meta property="og:description" content="{{ config.seoDescription }}">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="{{ config.seoSitename }}">
  {% endif %}

  {% if config.avatar %}
    <meta property="og:image" content="{{ config.seoUrlseusite + config.avatar }}">
    <meta property="og:image:alt" content="{{ config.seoTitle }}">
  {% endif %}

  {% if config.seoUrlseusite %}
    <meta property="og:url" content="{{ config.seoUrlseusite }}">
  {% endif %}

  {% if config.seoTitle or config.seoDescription %}
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ config.seoTitle or config.seoAuthor or '' }}">
    <meta name="twitter:description" content="{{ config.seoDescription }}">
  {% endif %}

  {% if config.avatar %}
    <meta name="twitter:image" content="{{ config.seoUrlseusite + config.avatar }}">
  {% endif %}

  <meta name="robots" content="index, follow">

  {% if config.cores.loadingBgColor %}
    <meta name="theme-color" content="{{ config.cores.loadingBgColor }}">
  {% endif %}
  <title>{{ config.titulo or "Protifolio" }}</title>
  <link rel="canonical" href="{{ config.seoUrlseusite }}">
  
  <script type="application/ld+json" defer>
    [
      {
        "@context": "https://schema.org",
        "@type": "Person",
        "name": "{{ config.seoAuthor }}",
        "url": "{{ config.seoUrlseusite }}",
        "jobTitle": "{{ config.seoDescription }}",
        "email": "{{ config.email }}",
        "sameAs": [
          "{{ config.githublink }}",
          "{{ config.linkedinlink }}"
        ]
      },
      {
        "@context": "https://schema.org",
        "@type": "WebSite",
        "name": "{{ config.seoAuthor }}",
        "url": "{{ config.seoUrlseusite }}"
      }
    ]
  </script>
</head>
<body>
  
  {% include "components/ui/loading.njk" %}

  {{ content | safe }}
  <script type="module" src="/js/main.js" defer></script>
</body>
</html>
