<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Protifolio</title>
  <link rel="icon" type="image/svg+xml" href="/assets/favicon.ico" />
  <link rel="stylesheet" href="/css/style.css">
  <style>
    #loading {
      width: 100%;
      height: 100vh;
      background-color: #22212C;

      display: grid;
      place-items: center;

      position: fixed;
      inset: 0;
      z-index: 9999;

      transition: opacity 0.3s ease;
    }

    #loading.hide {
      opacity: 0;
      pointer-events: none;
    }

    #loading #spinner {
      width: 50px;
      height: 50px;
      border-radius: 50%;

      border: 3px solid #fa7f72;
      border-top: 1px solid transparent;

      animation: spinner 1s linear infinite;
    }

    @keyframes spinner {
      0% {
        transform: rotate(0);
      }
      100% {
        transform: rotate(360deg)
      }
    }
  </style>
  <script>
    window.addEventListener('load', () => {
      const loading = document.getElementById('loading');
      const app = document.getElementById('app');

      loading.classList.add('hide');

      setTimeout(() => {
        loading.remove();
        app.removeAttribute('style');
      }, 300);
    });
  </script>
</head>
<body>
  <div id="loading">
    <div id="spinner"></div>
  </div>
  {{ content | safe }}
  <script type="module" src="/js/main.js"></script>
</body>
</html>
