<main class="content">
    <div>
        <!-- aside menu -->
        <aside id="menu-contatos" class="menu">
            <div class="txt-h1">
                <h1>Contatos</h1>
            </div>
            <ul class="m-ul">

                <li class="m-li">
                    <div>
                        <img class="iconMenuSize" src="./assets/map-pin.svg">
                    </div>

                    <div class="m-li-contato">
                        <span class="text">Localidade</span>
                        <span id="followers" class="text numStyle">
                            {% if config.location | length > 0 %}
                                {{ config.location }}
                            {% else %}
                                sem localidade
                            {% endif %}
                        </span>
                    </div>
                </li>

                <li class="m-li">
                    <div>
                        <img class="iconMenuSize" src="./assets/github.svg">
                    </div>

                    <div class="m-li-contato">
                        <span class="text">github</span>
                        
                        {%if config.githublink | length > 0 %}
                            
                            <a href="{{ config.githublink }}" target="_blank" class="text ">
                                <p>
                                    {% if config.githubnome | length > 0 %}
                                        {{ config.githubnome}}
                                    {% else %}
                                        sem nome
                                    {% endif%}
                                </p>

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="16"
                                    height="16">
                                    <path
                                        d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z">
                                    </path>
                                </svg>
                            </a>

                        {%else%}

                            <a href="#" class="text ">
                                <p>
                                    {% if config.githubnome | length > 0 %}
                                        {{ config.githubnome}}
                                    {% else %}
                                        sem nome
                                    {% endif%}
                                </p>

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="16"
                                    height="16">
                                    <path
                                        d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z">
                                    </path>
                                </svg>
                            </a>
                            
                        {%endif%}

                    </div>
                </li>

                <li class="m-li">
                    <div>
                        <img class="iconMenuSize" src="./assets/linkedin.svg">
                    </div>

                    <div class="m-li-contato">
                        <span class="text">Linkedin</span>
                        <a href="https://www.linkedin.com/in/liliu-lililzers-5bb4b8189" target="_blank" class="text">
                            <p>@Liliu</p>

                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="16"
                                height="16">
                                <path
                                    d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z">
                                </path>
                            </svg>
                        </a>
                    </div>
                </li>

                <li class="m-li">
                    <div>
                        <img class="iconMenuSize" src="./assets/mail.svg">
                    </div>

                    <div class="m-li-contato">
                        <span class="text">Email</span>

                        {% if config.email | length > 0 %}

                            <a id="button-copy" href="#" class="text">
                                <p 
                                    id="copy-email" 
                                    data-emailgithub="{{ config.email }}"
                                    role="button"
                                    tabindex="0"
                                    aria-label="Copiar e-mail para a área de transferência"
                                >
                                 {{ config.emailnome }}    
                                </p>

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="16"
                                    height="16">
                                    <path
                                        d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z">
                                    </path>
                                </svg>
                            </a>

                        {% else %}

                             <a id="button-copy" href="#" class="text">
                                <p 
                                    id="copy-email" 
                                    data-emailgithub="#"
                                    role="button"
                                    tabindex="0"
                                    aria-label="Copiar e-mail para a área de transferência"
                                    >
                                    @TagEmail
                                </p>

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="16"
                                    height="16">
                                    <path
                                        d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z">
                                    </path>
                                </svg>
                            </a>

                        {% endif %}
                        
                    </div>
                </li>

                <li class="m-li">
                    <div>
                        <img class="iconMenuSize" src="./assets/folder.svg">
                    </div>

                    <div class="m-li-contato">
                        <span class="text">Curriculo</span>
                        {% if config.curriculolink | length > 0 %}

                             <a href="{{ config.curriculolink }}" target="_blank" class="text">
                                <p>{{ config.curriculonome}}</p>

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="16"
                                    height="16">
                                    <path
                                        d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z">
                                    </path>
                                </svg>
                            </a>

                        {% else %}

                            <a href="#" target="_blank" class="text">
                                <p>sem link</p>

                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" fill="currentColor" width="16"
                                    height="16">
                                    <path
                                        d="M15 1v6h-2V4.41L7.41 10 6 8.59 11.59 3H9V1zm-4 10a1 1 0 01-1 1H5a1 1 0 01-1-1V6a1 1 0 011-1h2V3H5a3 3 0 00-3 3v5a3 3 0 003 3h5a3 3 0 003-3V9h-2z">
                                    </path>
                                </svg>
                            </a>

                        {% endif %}
                    </div>
                </li>

            </ul>
        </aside>

        <aside id="menu-experiencias" class="menu-experiencia">
            <div class="txt-h1">
                <h1>Experiência</h1>
            </div>

            <section id="c-experinecia" class="c-experiencia">

                {% for experiencia in config.experienciaMenu %}
                    <div class="experiencia">

                        <header class="ex-header">
                            <img src="{{ experiencia.img }}" alt="{{ experiencia.nome }}" class="ex-img">

                            <div class="ex-info">
                                <h1>{{ experiencia.nome}}</h1>
                                <span>{{ experiencia.data}}</span>
                            </div>
                        </header>

                        <section class="ex-conteudo">
                            <ul class="ex-ul">
                                <li class="ex-li">
                                    <h2>o que faz: <span>{{ experiencia.oquefaz}}</span></h2>
                                    <p>competência: <span>{{ experiencia.competencia}}</span></p>

                                    <div class="ex-sub-infos">
                                        <h3>atuação na empresa: <span>{{ experiencia.atuacao }}</span></h3>
                                        <p>fez o que: <span>{{ experiencia.fezoque}}</span></p>
                                    </div>
                                </li>
                            </ul>
                        </section>

                    </div>
                {% endfor%}
                
            </section>
        </aside>
    </div>


    <!-- card -->
    <section id="cards" class="cards-container">
        <div class="text-github">
            <h1>Projetos</h1>
        </div>

        {% for cards in config.cardInfos %}
            <section class="card">
                <h1>{{ cards.title }}</h1>
                <p>{{ cards.description}}</p>
                <img src="{{ cards.snapshot }}" width="100" height="100" alt="{{ cards.title }}">
                <div class="tech">
                    <div class="spanWrap">
                        {% if cards.linguagens | length > 0 %}

                            {% for lang in cards.linguagens %}
                                <span class="spanLang">{{ lang }}</span>
                            {% endfor %}
                            
                        {% else %}
                            <p class="sem-linguagens">Sem tecnologias</p>
                        {% endif %}
                    </div>
                </div>
                <button class="js-open-modal" data-url="{{ cards.iframe }}">Preview</button>
            </section>
        {% endfor %}

    </section>

</main>