<main class="content">
    <div>
        <!-- aside menu -->
        {% include "components/aside/contatos.njk" %}
        {% include "components/aside/experiencias.njk" %}
    </div>


    <!-- card -->
    {% include "components/cards/projetos.njk" %}
</main>