<header class="head">
    <div class="user-info">
        <div class="c-img">
            <div class="img">
                <img src="./assets/artista-1.png">
            </div>

            <div class="nome-user">

                {% if config.simonao %}
                    <h1>{{ config.nome }}</h1>
                {% else %}
                    <p>Nenhum nome</p>
                {% endif %}

            </div>
        </div>

        <div class="info-rede">
            <div class="bio">
                <h2>Bio</h2>
                <p>

                    Meu nome é Liliul e sou desenvolvedor Full Stack.
                    Crio aplicações web completas utilizando JavaScript, Node.js,
                    MySQL e Docker, com foco em desempenho e organização.
                    Confira meus projetos ou entre em contato para colaborarmos!

                </p>
            </div>
        </div>
    </div>

    <div class="skills-user">
        <h2>Tecnologias</h2>

        <ul id="skills-tech-id" class="skill">
            <li class="item-skills">
                <p>Javascript</p>
            </li>
            <li class="item-skills">
                <p>html/css/sass</p>
            </li>
            <li class="item-skills">
                <p>node</p>
            </li>
            <li class="item-skills">
                <p>typescript</p>
            </li>
            <li class="item-skills">
                <p>php</p>
            </li>
            <li class="item-skills">
                <p>react</p>
            </li>
            <li class="item-skills">
                <p>firebase</p>
            </li>
            <li class="item-skills">
                <p>git/github</p>
            </li>
            <li class="item-skills">
                <p>docker/compose</p>
            </li>
        </ul>
    </div>
</header>