<nav>
    <h2>Menu</h2>
    <ul>
        <li>
            <a href="/salvando-videos-alta">Salvando videos youtube Alta</a>
        </li>
        <li>
            <a href="/listar-videos-alta">Listando videos youtube</a>
        </li>
        <li>
            <a href="/buscar-videos-alta-uf">buscando videos youtube UF</a>
        </li>
        <li>
            <a href="/pesquisa-videos-youtube">Pesquisando youtube</a>
        </li>
        <li>
            <a href="/playlists">Listando playlists</a>
        </li>
        <li>
            <a href="/info-channel">Informações do canal</a>
        </li>
        <li>
            <a href="/atividades-youtube">Atividades</a>
        </li>
    </ul>
</nav>