<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buscar videos alta UF</title>
    <link rel="stylesheet" href="style/buscarVideosAltaUf.css">
</head>
<body>
    <h1>Buscando videos no Youtube pelo UF.</h1>
    <button class="voltar" onclick="window.history.back()"><</button>

    <div id="content">
        <div>
            <label for="uf">UF</label>
            <input type="text" name="uf" id="uf">
        </div>

        <div id="videos"></div>
    </div>

    <script type="module" src="scripts/pageScripts/buscarVideosAltaUf.js"></script>
</body>
</html>