<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informações do canal do usuario</title>
    <link rel="stylesheet" href="style/infoChannel.css">
</head>
<body>

    <h1>Informações do canal do usuario no Youtube.</h1>
    <button class="voltar" onclick="window.history.back()"><</button>

    <div id="content">
        <div id="info-channel"></div>
    </div>

    <script type="module" src="scripts/pageScripts/infoChannel.js"></script>
</body>
</html>