<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos em Alta do Youtube</title>
    <link rel="stylesheet" href="style/listarVideosAlta.css">
</head>
<body>
    <h1>Listando videos no Youtube.</h1>
    <button class="voltar" onclick="window.history.back()"><</button>

    <div id="content"></div>

    <script type="module" src="/scripts/pageScripts/listarVideosAlta.js"></script>
</body>
</html>
