<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pesquisando no Youtube</title>
    <link rel="stylesheet" href="style/pesquisaVideosAlta.css">
</head>

<body>

    <h1>Pesquisando no Youtube</h1>

    <button class="voltar" onclick="window.history.back()"><</button>

    <div id="content">
        <div class="busca">
            <form id="form-buscar">
                <label for="buscar">Buscar</label>
                <input type="text" name="buscar" id="buscar">
            </form>
        </div>

        <div id="videos"></div>
    </div>

    <script type="module" src="scripts/pageScripts/pesquisaVideosAlta.js"></script>
</body>

</html>