<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listando PlayList</title>
    <link rel="stylesheet" href="style/playlist.css">
</head>
<body>
    <h1>Listando Playlist do Youtube</h1>
    <button class="voltar" onclick="window.history.back()"><</button>

    <div id="content">
        <div id="videos"></div>
    </div>

    <script type="module" src="scripts/pageScripts/playlist.js"></script>
</body>
</html>
