<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salvando Videos em Alta do Youtube</title>
    <link rel="stylesheet" href="style/salvandoVideosAlta.css">
</head>
<body>
    <h1>Salvando videos no Youtube.</h1>
    <button class="voltar" onclick="window.history.back()"><</button>

    <div id="content">
        <form id="salvar">
            <label for="uf">UF do pais ex: JP</label>
            <input type="text" name="uf" id="uf" placeholder="UF do pais">
            <br>
            <label for="num">Numero de quantos videos buscar e guarda no banco.</label>
            <input type="number" name="num" min="0" >
            <br>
            <button id="b-videos" type="submit">buscar videos no youtube.</button>
        </form>

        <div id="videos"></div>
    </div>

    <script type="module" src="scripts/pageScripts/salvandoVideosAlta.js"></script>
</body>
</html>