YOUTUBE_API_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
JWT_SECRET=
JWT_EXPIRES="1h"
NODE_ENV="developer"

POSTGRES_DB=nomeDoBanco
POSTGRES_USER=nomeUsuarioDoBanco
POSTGRES_PASSWORD=senhaDoBanco
POSTGRES_HOST=
POSTGRES_PORT=